.connect-wallet-button {
	background: var(--connect-btn-bg);
	font-weight: 500;
	font-size: var(--font-size-xsm);
	transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	border-radius: 10px;
	color: var(--connect-btn-color);
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 8px 24px rgba(0, 0, 0, 0.33);
	}
	.avatar {
		height: 16px;
		width: 16px;
		background: var(--connect-btn-color);
	}
	.name {
		color: inherit;
	}
}

.wallet-dropdown {
	border: 2px solid var(--modal-border);
	background: var(--modal-bg);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}

.swap-button {
	background: var(--connect-btn-bg);
	font-weight: 500;
	font-size: var(--font-size-xsm);
}
