.home-input-wrapper {
	background: var(--home-input-bg);
	border: 2px solid var(--home-input-border);
	border-radius: 12px;
	height: 60px;
	display: flex;
	align-items: center;
	transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

	padding: 0 10px;
	gap: 8px;
	user-select: none;
	cursor: pointer;
}

.home-input-box {
	flex: 1;
	position: relative;
	isolation: isolate;

	.home-input-placeholder {
		position: absolute;
		display: flex;
		align-items: center;
		inset: 0;
		opacity: 0.6;
		pointer-events: none;
		z-index: -1;
	}
}

.home-chat-icon-con {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: var(--bg-negative);
	color: var(--bg-negative-foreground);
	display: flex;
	align-items: center;
	justify-content: center;
}
